
Emotivoice_RVC_TTS/outputs/
# Python
Emotivoice_RVC_TTS/__pycache__/
Emotivoice_RVC_TTS/*.pyc
Emotivoice_RVC_TTS/*.pyo
Emotivoice_RVC_TTS/*.pyd
Emotivoice_RVC_TTS/*.pyc
Emotivoice_RVC_TTS/rvc_gui/models/
Emotivoice_RVC_TTS/rvc_gui/hubert_base.pt
Emotivoice_RVC_TTS/EmotiVoice/WangZeJun/
Emotivoice_RVC_TTS/EmotiVoice/outputs/